*.class
.classpath
.project
.settings/
twitter4j.properties*
target/
PrevalenceBase/
*~
ActiveDirectoryAuthenticator.java
ActiveDirectoryPerson.java
PropsTest.java

# Package Files #
*.jar
*.war
*.ear
